body{
    font-family: 'Roboto', sans-serif;
}
.section-one{
    background-color: #1f2937;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section-one-container{
    width:800px;
}
.header-container{
    display:flex;
    padding: 16px;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #cacbcf;
    font-size: 18px;
}

.section-one-content{
    width:400px;    
}

.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.text{
    font-size: 18px;
    color: #cacbcf;
}

button{
    color:white;
    background-color: #3882f6;
}

.content-image{
    display: flex;
    justify-content: space-between;
}
.section-two-content{
    height:500px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-two-title{
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 800;
}
.section-two-container{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info{
    max-width: 200px;
}

img {
    width: 200px;
    height: 200px;
}

.section-three-content{
    height: 400px;
    color: #727b87;
    background-color:#E5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three-text{
    display:flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    width: 800px;
}

.quote-credits{
    margin-left:auto;
    font-size:24px;
    font-weight:900;
    color:black;
}

.section-four-content{
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.modal{
    background-color: #3882f6;
    border-radius: 8px;
    width: 800px;
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
}

.section-four-text-title{
    font-size:24px;
    color: #f9faf8;
}

.section-four-text-maintext{
    font-size:18px;
    color: #e5e5e5
}

.section-four-button{
    border-radius: 8px;
    border: solid white;
    padding: 4px 32px;
    font-weight:600;
    font-size:18px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items:center;
    background: #1f2937;
}

.footer-text{
    font-size:18px;
    color: #e5e7eb;
    margin:30px;
}








